<ion-view view-title="Select a Trip">
  <ion-content>
   
    <!-- Controls-->
    <h2 id="time-select" class="time-select">{{timeOutput}}</h2>
    <div class="item range">
        <i class="icon ion-ios-clock"></i>
        <input id="time" type="range" name="time" min="0" max="47" step="1">
    </div>
      
    <div class="button-bar day-select">
        <ion-radio name="day" ng-model="$parent.selectedDay" ng-value="'M'"  class="button">M</ion-radio>
        <ion-radio name="day" ng-model="$parent.selectedDay" ng-value="'T'"  class="button">T</ion-radio>
        <ion-radio name="day" ng-model="$parent.selectedDay" ng-value="'W'"  class="button">W</ion-radio>
        <ion-radio name="day" ng-model="$parent.selectedDay" ng-value="'TR'" class="button">TR</ion-radio>
        <ion-radio name="day" ng-model="$parent.selectedDay" ng-value="'F'"  class="button">F</ion-radio>
        <ion-radio name="day" ng-model="$parent.selectedDay" ng-value="'SA'" class="button">SA</ion-radio>
        <ion-radio name="day" ng-model="$parent.selectedDay" ng-value="'SU'" class="button">SU</ion-radio>
    </div>

    <div ng-show="northbound" class="button-bar direction-select">
        <ion-radio name="direction" ng-model="$parent.selectedDirection" ng-value="'N'" class="button">Northbound</ion-radio>
        <ion-radio name="direction" ng-model="$parent.selectedDirection" ng-value="'S'" class="button">Southbound</ion-radio>
    </div>

    <div ng-show="eastbound" class="button-bar direction-select">
        <ion-radio name="direction" ng-model="$parent.selectedDirection" ng-value="'E'" class="button">Eastbound</ion-radio>
        <ion-radio name="direction" ng-model="$parent.selectedDirection" ng-value="'W'" class="button">Westbound</ion-radio>
    </div>
    
    
    <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="trip in trips" type="item-text-wrap" href="#/tab/routes/trips/{{trip.trip_id}}">
            <h2>{{trip.route_id}}</h2>
            <p>{{trip.route_name}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>